# Simple shortcuts and magics

In [1]:
#Установим библиотеку для отрисовки графиков, если её у вас нет
!pip install matplotlib
!pip install Flask

Requirement already satisfied: matplotlib in c:\users\artyom\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.7.1 in c:\users\artyom\anaconda3\lib\site-packages (from matplotlib) (1.14.3)
Requirement already satisfied: cycler>=0.10 in c:\users\artyom\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\artyom\anaconda3\lib\site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\artyom\anaconda3\lib\site-packages (from matplotlib) (2.7.3)
Requirement already satisfied: pytz in c:\users\artyom\anaconda3\lib\site-packages (from matplotlib) (2018.4)
Requirement already satisfied: six>=1.10 in c:\users\artyom\anaconda3\lib\site-packages (from matplotlib) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\artyom\anaconda3\lib\site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: setuptools in c:\users\artyom\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (39.1.0)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: Flask in c:\users\artyom\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: Werkzeug>=0.14 in c:\users\artyom\anaconda3\lib\site-packages (from Flask) (0.14.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\artyom\anaconda3\lib\site-packages (from Flask) (0.24)
Requirement already satisfied: click>=5.1 in c:\users\artyom\anaconda3\lib\site-packages (from Flask) (6.7)
Requirement already satisfied: Jinja2>=2.10 in c:\users\artyom\anaconda3\lib\site-packages (from Flask) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\artyom\anaconda3\lib\site-packages (from Jinja2>=2.10->Flask) (1.0)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [ ]:
#Magic, который пишем чаще всего. Что он делает?
#import numpy
#import matplotlib
#from matplotlib import pylab, mlab, pyplot
#np = numpy
#plt = pyplot
#from IPython.display import display
#from IPython.core.pylabtools import figsize, getfigs
#from pylab import *
#from numpy import *

#и все это 1 строчкой! inline указывает, что вывод графиков будет в ноутбук (подробнее в документации: выбор движка)
%pylab inline

In [9]:
%%writefile hello.py
#Найдите magic, который записывает значение ячейки в файл. Создайте модуль hello.py, импортируйте из него hello_world
def hello_world():
    print("hello")

Overwriting hello.py

In [20]:
from hello import hello_world
hello_world()

hello

In [4]:
%%time
#Засеките время выполнения процедуры с помощью magic
def count(start=0, end=10000):
    for _ in range(start, end):
        continue
count()

Wall time: 999 µs

In [ ]:
#Объедините эту ячейку и ячейку ниже с помощью shortcut
def very_important_function():
    start="end"

    fucing_cat="change the cell"

In [ ]:
#Исправьте все хождения value в ячейке на name
value="name_1"
value_value="name_name_2"

In [ ]:
#Содержание ячейки, запущенной второй
print()

# Numpy

In [15]:
#Импортируем модуль
import numpy as np

In [16]:
#Создадим всякие массивчики
string_array = np.array(["строка", 5])
float_array = np.array([5., 5])
float_array_2 = np.array([6.])
int_array = np.array([5, 4])
two_dimarray = np.array([[5, 4], [4, 6]])
one_dimarray = np.array([[5, 4], [4]])

In [22]:
#К массивам можно обращаться по 2 индексам. Возможны срезу по нескольким осям
example_list = [[5, 4], [7, 8]]
example_list[ 1]

[7, 8]

In [23]:
example_arr = np.array([[5, 4], [7, 8]])
example_arr[:, 1]

array([4, 8])

In [24]:
#Можно получить параметры массива: тип данных, форму, размерность вдоль оси
two_dimarray = np.array([[5, 4], [4, 6]])
print("Размерность вдоль первой оси: {}".format(len(two_dimarray)))
print("Размерность массива: {}".format(two_dimarray.shape))
print("Тип данных в массиве: {}".format(two_dimarray.dtype))

#Давайте пожмем наш int64 до int8 (преподложим, что знаем ограничение на размер чисел)
import sys
print("Размер исходного массива %d" % sys.getsizeof(two_dimarray))
two_dimarray = two_dimarray.astype(np.int8)
print("Размер массива после преобразования %d" % sys.getsizeof(two_dimarray))

Размерность вдоль первой оси: 2
Размерность массива: (2, 2)
Тип данных в массиве: int32
Размер исходного массива 128
Размер массива после преобразования 116

In [25]:
oneses = np.ones(3)
zeros = np.zeros(4)
print(oneses)
print(zeros)

[1. 1. 1.]
[0. 0. 0. 0.]

In [32]:
def simple_matrix_generator(n):
    a = np.zeros([n,n])
    for i in range(n):
        a[i,i] = 1
    #TODO создать единичную матрицу размера n x n в виде numpy array
    return a

In [33]:
assert np.array_equal(simple_matrix_generator(4), np.array([[1., 0., 0., 0.], [0., 1., 0., 0.], [0., 0., 1., 0.], [0., 0., 0., 1.]]))
assert np.array_equal(simple_matrix_generator(3), np.array([[1., 0., 0.], [0., 1., 0.], [0., 0., 1.]]))
assert np.array_equal(simple_matrix_generator(2), np.array([[1., 0.], [0., 1.]]))

In [36]:
#Преобразование формы массива 
example = np.array([5, 4, 7, 8])
print(example)
print(example.reshape(4, 1))
print(example.reshape(2, 2).flatten())

[5 4 7 8]
[[5]
 [4]
 [7]
 [8]]
[5 4 7 8]

In [37]:
# Массивы можно по-разному объединять и добавлять элементы
example = np.array([5., 6.])
example = np.append(example, example)
print(example)
example = np.array([[5.], [6.]])
print(np.concatenate((example, example), axis=0))
print(np.concatenate((example, example), axis=1))
print(np.vstack((example, example)))
print(np.hstack((example, example)))

[5. 6. 5. 6.]
[[5.]
 [6.]
 [5.]
 [6.]]
[[5. 5.]
 [6. 6.]]
[[5.]
 [6.]
 [5.]
 [6.]]
[[5. 5.]
 [6. 6.]]

In [38]:
#Над массивами numpy можно производить простейшие математические операции
example = np.array([5, 4, 7, 8])
print(example / 2)
print(example * 3)
print(example + 32)
print(example - 1)
print(example ** 2)
print("Multidemensional")
example = np.array([[5, 4], [7, 8]])
print(example / 2)
print(example * 3)
print(example + 32)
print(example - 1)
print(example ** 2)
print("Lessdimensional")
example = np.array([[5, 4], [7, 8]])
sep_arr = np.array([2, 3])
print(example / sep_arr)
print(example * sep_arr)
print(example + sep_arr)
print(example - sep_arr)
print(example ** sep_arr)

[2.5 2.  3.5 4. ]
[15 12 21 24]
[37 36 39 40]
[4 3 6 7]
[25 16 49 64]
Multidemensional
[[2.5 2. ]
 [3.5 4. ]]
[[15 12]
 [21 24]]
[[37 36]
 [39 40]]
[[4 3]
 [6 7]]
[[25 16]
 [49 64]]
Lessdimensional
[[2.5        1.33333333]
 [3.5        2.66666667]]
[[10 12]
 [14 24]]
[[ 7  7]
 [ 9 11]]
[[3 1]
 [5 5]]
[[ 25  64]
 [ 49 512]]

In [39]:
#Можно производить стандартные операции над векторами n-мерного пространства
example = np.array([[5, 4], [7, 8]])
print(example.transpose())

[[5 7]
 [4 8]]

In [47]:
#И снова калькулятор
def calculate(a, b=None, func="+"):
    #TODO Ну мы такое уже писали, кажется, совсем просто
    if func == "+":
        return a + b
    if func == "-":
        return a - b
    if func == "**":
        return a ** b 
    if func == "*":
        return a * b
    if func == "/":
        return a / b
    if func == "T":
        return a.T
    if func == "increment":
        if len(a.shape) == 2 and a.shape[0] == a.shape[1]:
            for i in a.shape[1]:
                a[i,i] += 1
        #TODO увеличвает на 1 ДИАГОНАЛЬНЫЕ элементы, если матрица квадратная, иначе возвращает исходную матрицу
        return a
    #Примените func ко всем эементам a
    return

In [48]:
example = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
sample_vec = np.array([2, 4, 10])

assert np.array_equal(calculate(example, sample_vec, "/"), np.array([[ 0.5 ,  0.5 ,  0.3 ], [ 2.  ,  1.25,  0.6 ], [ 3.5 ,  2.  ,  0.9 ]]))
assert np.array_equal(calculate(example, 20, "/"), np.array([[ 0.05,  0.1 ,  0.15],
                                                             [ 0.2 ,  0.25,  0.3 ],
                                                             [ 0.35,  0.4 ,  0.45]]))
assert np.array_equal(calculate(example, 20, "+"), np.array([[21, 22, 23],
                                                             [24, 25, 26],
                                                             [27, 28, 29]]))
assert np.array_equal(calculate(example, sample_vec, "+"), np.array([[ 3,  6, 13],
                                                                     [ 6,  9, 16],
                                                                     [ 9, 12, 19]]))
assert np.array_equal(calculate(example, 20, "*"), np.array([[ 20,  40,  60],
                                                             [ 80, 100, 120],
                                                             [140, 160, 180]]))
assert np.array_equal(calculate(example, sample_vec, "*"), np.array([[ 2,  8, 30],
                                                                     [ 8, 20, 60],
                                                                     [14, 32, 90]]))
assert np.array_equal(calculate(example, 20, "-"), np.array([[-19, -18, -17],
                                                             [-16, -15, -14],
                                                             [-13, -12, -11]]))
assert np.array_equal(calculate(example, sample_vec, "-"), np.array([[-1, -2, -7],
                                                                     [ 2,  1, -4],
                                                                     [ 5,  4, -1]]))
assert np.array_equal(calculate(example, func="T"), np.array([[1, 4, 7],
                                                              [2, 5, 8],
                                                              [3, 6, 9]]))
assert np.array_equal(calculate(example, sample_vec, "**"), np.array([[         1,         16,      59049],
                                                                [        16,        625,   60466176],
                                                                [        49,       4096, 3486784401]]))

#!!!ALARM почему отрицательное число?
assert np.array_equal(calculate(example, 20, "**"), np.array([[                   1,              1048576,           3486784401],
                                                              [       1099511627776,       95367431640625,     3656158440062976],
                                                              [   79792266297612000,  1152921504606846976, -9223372036854775808]]))

assert np.array_equal(calculate(example, func="increment"), np.array([[  2.,   2.,   3.],
                                                                     [  4.,   6.,   6.],
                                                                     [  7.,   8.,  10.]]))
assert np.array_equal(calculate(sample_vec, func="increment"), sample_vec)

AssertionError:

In [49]:
#Можно считать различные статистикиЮ суммы и другие значения по выбранной оси
example = np.array([[5, 4], [7, 8]])
print(example.sum())
print(example.sum(axis=0))
print(example.sum(axis=1))

#TODO Найти минимум по столбцам, максимум по строкам, среднее значение всей матриц, дисперсию по строкам и аргминимум по строке

24
[12 12]
[ 9 15]

In [50]:
#Методы выбора
example = np.array([[5, 4], [7, 8]])
example[example >= 5]

array([5, 7, 8])

In [51]:
#Просто скалярное произведение
a = np.array([1, 2, 3], float)
b = np.array([0, 1, 1], float)
np.dot(a, b)

5.0

In [56]:
#TODO Линейные уравнения можно решать следующим образом: Ax = y, где A-матрица. 
#A^(T)Ax=A^(T)y
#x=(A^(T)A)^(-1)A^(T)y
#давайте сделаю свою решалку таких уравнений
#HINT: np.linalg...
def solution_finder(A, y):
    
    return np.dot(np.dot(np.linalg.inv(np.dot(A.T , A)), A.T),y)

In [57]:
#TODO решить систему методом Крамера
#HINT: np.linalg.det
def cramer_solver(A, b):
    return

In [58]:
example = np.array([[5, 4], [7, 8]])
sample_vec = np.array([1, 2])

assert np.allclose(cramer_solver(example, sample_vec), np.array([0.0, 0.25]))

example = np.array([[5, 4, 1], [7, 8, 12], [10, 45, 24]])
sample_vec = np.array([1, 2, 123])

assert np.allclose(cramer_solver(example, sample_vec), np.array([-2.63406011, -3.74012964, -0.79021803]))

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
#Быстро сделали. Давайте сделаем решение методом Гаусса. Задание со звездочкой, я за 5 минут не смог написать

# Pandas

In [59]:
import pandas as pd

In [63]:
#Загрузим данные
titanik_excel = pd.read_excel("titanic3.xls")

#dataframe.head(#observ) позволяет взглянуть на первые #observ данных, по умолчанию 5
titanik_excel.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"

In [67]:
#TODO Загрузите данные из .tsv файла (пример в слайдах!). Посмотрите на перввые 7 строк
titanik_csv = pd.read_csv("titanik.tsv", sep = "|")
titanik_csv.head(7)

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"

In [70]:
titanik_csv['body'].isnull().sum()
titanik_csv['name'].apply(lambda x: 'Miss' in x)
#совместная работа
#1. Кого больше мужчин или женщин?
#2. Отделить первую часть имени (до запятой)
#3. Узнать, сколько пропусков в колонке body
#4. Удалить колонку body
#5. Обращение к строке
#6. Разбить возраст на бины
#7. Входит ли Miss в name
#8. Срез по числу parch (сравнение)
#9. Hist по parch

0        True
1       False
2        True
3       False
4       False
5       False
6        True
7       False
8       False
9       False
10      False
11      False
12      False
13       True
14      False
15      False
16      False
17      False
18       True
19      False
20      False
21      False
22      False
23       True
24       True
25      False
26      False
27      False
28       True
29      False
        ...
1279     True
1280    False
1281    False
1282    False
1283    False
1284    False
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297    False
1298    False
1299    False
1300    False
1301    False
1302    False
1303    False
1304     True
1305     True
1306    False
1307    False
1308    False
Name: name, Length: 1309, dtype: bool

# Flask

In [71]:
%%writefile simple_flask.py

from flask import Flask
app = Flask(__name__)
 
@app.route("/")
def hello():
    return "Hello World!"
 
if __name__ == "__main__":
    app.run()
    
#Теперь нужно запустить, через python simple_flask.py

Writing simple_flask.py

In [72]:
%%writefile  simple_flask.py

from flask import Flask
app = Flask(__name__)
 
@app.route("/")
def hello():
    return "Hello World!"

@app.route("/members/<string:name>/")
def getMember(name):
    return name

if __name__ == "__main__":
    app.run()
#Теперь нужно запустить, через python simple_flask.py

Overwriting simple_flask.py

In [ ]:
#TODO написать сервер, который получает запрос /set_member/name, а по запросу /get_members возвращает всех
#memberов через запятую