# HW

Мои Фамилия Имя: ___Сальников Николай__

In [120]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [121]:
df_titanic = pd.read_csv('titanic.csv')

In [122]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [123]:
df_titanic.shape

(891, 12)

In [124]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [125]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [126]:
columns = ['Sex', 'Age', 'Pclass', 'Survived']

In [127]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]

print(simple_train)

        Sex   Age  Pclass  Survived
0      male  22.0       3         0
1    female  38.0       1         1
2    female  26.0       3         1
3    female  35.0       1         1
4      male  35.0       3         0
5      male   NaN       3         0
6      male  54.0       1         0
7      male   2.0       3         0
8    female  27.0       3         1
9    female  14.0       2         1
10   female   4.0       3         1
11   female  58.0       1         1
12     male  20.0       3         0
13     male  39.0       3         0
14   female  14.0       3         0
15   female  55.0       2         1
16     male   2.0       3         0
17     male   NaN       2         1
18   female  31.0       3         0
19   female   NaN       3         1
20     male  35.0       2         0
21     male  34.0       2         1
22   female  15.0       3         1
23     male  28.0       1         1
24   female   8.0       3         0
25   female  38.0       3         1
26     male   NaN       3         0
27     male  19.0       1         0
28   female   NaN       3         1
29     male   NaN       3         0
..      ...   ...     ...       ...
471    male  38.0       3         0
472  female  33.0       2         1
473  female  23.0       2         1
474  female  22.0       3         0
475    male   NaN       1         0
476    male  34.0       2         0
477    male  29.0       3         0
478    male  22.0       3         0
479  female   2.0       3         1
480    male   9.0       3         0
481    male   NaN       2         0
482    male  50.0       3         0
483  female  63.0       3         1
484    male  25.0       1         1
485  female   NaN       3         0
486  female  35.0       1         1
487    male  58.0       1         0
488    male  30.0       3         0
489    male   9.0       3         1
490    male   NaN       3         0
491    male  21.0       3         0
492    male  55.0       1         0
493    male  71.0       1         0
494    male  21.0       3         0
495    male   NaN       3         0
496  female  54.0       1         1
497    male   NaN       3         0
498  female  25.0       1         0
499    male  24.0       3         0
500    male  17.0       3         0

[501 rows x 4 columns]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [128]:
simple_train['Age'].sum()
simple_train['Age'].idxmin()
simple_train['Age'].idxmax()
simple_train['Age'].min()
simple_train['Age'].max()
simple_train.agg(['sum', 'mean'])
simple_train['Age'].fillna(simple_train['Age'].mean())
#print(frame.sum())
#print(frame.mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      29.174185
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.174185
18     31.000000
19     29.174185
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.174185
27     19.000000
28     29.174185
29     29.174185
         ...
471    38.000000
472    33.000000
473    23.000000
474    22.000000
475    29.174185
476    34.000000
477    29.000000
478    22.000000
479     2.000000
480     9.000000
481    29.174185
482    50.000000
483    63.000000
484    25.000000
485    29.174185
486    35.000000
487    58.000000
488    30.000000
489     9.000000
490    29.174185
491    21.000000
492    55.000000
493    71.000000
494    21.000000
495    29.174185
496    54.000000
497    29.174185
498    25.000000
499    24.000000
500    17.000000
Name: Age, Length: 501, dtype: float64

In [129]:
simple_train['Age'] = simple_train['Age'].fillna(simple_train['Age'].mean())
simple_test['Age'] = simple_test['Age'].fillna(simple_test['Age'].mean())
# можно inplace делать такое, а можно переприсваивать.

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [130]:
simple_train.Sex = simple_train.Sex.replace(to_replace = dict(female = 0, male = 1))
simple_test.Sex = simple_test.Sex.replace(to_replace = dict(female = 0, male = 1))
print(simple_train)
print(simple_test)

     Sex        Age  Pclass  Survived
0      1  22.000000       3         0
1      0  38.000000       1         1
2      0  26.000000       3         1
3      0  35.000000       1         1
4      1  35.000000       3         0
5      1  29.174185       3         0
6      1  54.000000       1         0
7      1   2.000000       3         0
8      0  27.000000       3         1
9      0  14.000000       2         1
10     0   4.000000       3         1
11     0  58.000000       1         1
12     1  20.000000       3         0
13     1  39.000000       3         0
14     0  14.000000       3         0
15     0  55.000000       2         1
16     1   2.000000       3         0
17     1  29.174185       2         1
18     0  31.000000       3         0
19     0  29.174185       3         1
20     1  35.000000       2         0
21     1  34.000000       2         1
22     0  15.000000       3         1
23     1  28.000000       1         1
24     0   8.000000       3         0
25     0  38.000000       3         1
26     1  29.174185       3         0
27     1  19.000000       1         0
28     0  29.174185       3         1
29     1  29.174185       3         0
..   ...        ...     ...       ...
471    1  38.000000       3         0
472    0  33.000000       2         1
473    0  23.000000       2         1
474    0  22.000000       3         0
475    1  29.174185       1         0
476    1  34.000000       2         0
477    1  29.000000       3         0
478    1  22.000000       3         0
479    0   2.000000       3         1
480    1   9.000000       3         0
481    1  29.174185       2         0
482    1  50.000000       3         0
483    0  63.000000       3         1
484    1  25.000000       1         1
485    0  29.174185       3         0
486    0  35.000000       1         1
487    1  58.000000       1         0
488    1  30.000000       3         0
489    1   9.000000       3         1
490    1  29.174185       3         0
491    1  21.000000       3         0
492    1  55.000000       1         0
493    1  71.000000       1         0
494    1  21.000000       3         0
495    1  29.174185       3         0
496    0  54.000000       1         1
497    1  29.174185       3         0
498    0  25.000000       1         0
499    1  24.000000       3         0
500    1  17.000000       3         0

[501 rows x 4 columns]
     Sex        Age  Pclass  Survived
500    1  17.000000       3         0
501    0  21.000000       3         0
502    0  30.321741       3         0
503    0  37.000000       3         0
504    0  16.000000       1         1
505    1  18.000000       1         0
506    0  33.000000       2         1
507    1  30.321741       1         1
508    1  28.000000       3         0
509    1  26.000000       3         1
510    1  29.000000       3         1
511    1  30.321741       3         0
512    1  36.000000       1         1
513    0  54.000000       1         1
514    1  24.000000       3         0
515    1  47.000000       1         0
516    0  34.000000       2         1
517    1  30.321741       3         0
518    0  36.000000       2         1
519    1  32.000000       3         0
520    0  30.000000       1         1
521    1  22.000000       3         0
522    1  30.321741       3         0
523    0  44.000000       1         1
524    1  30.321741       3         0
525    1  40.500000       3         0
526    0  50.000000       2         1
527    1  30.321741       1         0
528    1  39.000000       3         0
529    1  23.000000       2         0
..   ...        ...     ...       ...
861    1  21.000000       2         0
862    0  48.000000       1         1
863    0  30.321741       3         0
864    1  24.000000       2         0
865    0  42.000000       2         1
866    0  27.000000       2         1
867    1  31.000000       1         0
868    1  30.321741       3         0
869    1   4.000000       3         1
870    1  26.000000       3         0
871    0  47.000000       1         1
872    1  33.000000       1         0
873    1  47.000000       3         0
874    0  28.000000       2         1
875    0  15.000000       3         1
876    1  20.000000       3         0
877    1  19.000000       3         0
878    1  30.321741       3         0
879    0  56.000000       1         1
880    0  25.000000       2         1
881    1  33.000000       3         0
882    0  22.000000       3         0
883    1  28.000000       2         0
884    1  25.000000       3         0
885    0  39.000000       3         0
886    1  27.000000       2         0
887    0  19.000000       1         1
888    0  30.321741       3         0
889    1  26.000000       1         1
890    1  32.000000       3         0

[391 rows x 4 columns]

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [131]:
X_train = simple_train.drop(columns = ['Survived']).values
X_test = simple_test.drop(columns = ['Survived']).values
y_train = simple_train['Survived'].values
y_test = simple_test['Survived'].values
X_train = (X_train - X_train.mean(axis = 0)) / X_train.std(axis = 0)
X_test = (X_test - X_test.mean(axis = 0)) / X_test.std(axis = 0)
print(X_test)

[[ 7.01688259e-01 -1.02813535e+00  8.43335318e-01]
 [-1.42513429e+00 -7.19426333e-01  8.43335318e-01]
 [-1.42513429e+00  2.74188685e-16  8.43335318e-01]
 ...
 [-1.42513429e+00  2.74188685e-16  8.43335318e-01]
 [ 7.01688259e-01 -3.33540064e-01 -1.52042174e+00]
 [ 7.01688259e-01  1.29523459e-01  8.43335318e-01]]

In [132]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [133]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [134]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [140]:
from scipy.spatial import distance
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for elem in X:
            counts=[0,0]
            o = []
            for i in range(len(self.X)):
                o.append(distance.euclidean(elem, self.X[i]))
            k = np.array(o).argsort()[:self.n]
            counts[1] = sum(self.y[k])
            counts[0] = self.n-counts[1]
            
            prediction = counts.index(max(counts))
            y_hat.append(prediction)
        return np.array(y_hat)

In [142]:
knn = KNN(5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print(y_pred)

[0 0 1 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 1 1 0
 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1
 0 0 1 1 1 0 1 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 1 1
 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0
 0 1 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0 0
 1 0 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0
 1 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 1 1 0 0 0 1 0 1 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 1 1 1 1 1 0 0 0 1 1 0 1 0 0 0 0
 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 1 1 1 0]

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [143]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.8005115089514067

In [144]:
np.unique(y_pred)

array([0, 1])

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [145]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8005115089514067

In [146]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.8107416879795396

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!